body{
 text-align : center ;
 background-color : #323a3d;
 color: gray;
}
a{
 text-align : center ;
 color: sea-green;
}
button{
width : 500px;

}
.success{
color:green;
font-size : 100px;
}
form{
border-radius :  5px;
}
input{
background-color: transparent;
}
.jumbotron {
    border-radius: 10px;
}