{{#partial "title" }}
    New Supers !!
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}

    <h1>Fill in your name and your friend's name to create your custom greeting!</h1>
    <form action='/Heroes/new'>
        <div class="form-group">
            <label for="sender">Name</label>
            <input id="sender" name="Name" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="Age">Age</label>
            <input id="Age" name="Age" class="form-control" type="number">
        </div>
        <div class="form-group">
                <label for="Superpower">Super-power</label>
            <input id="Superpower" name="Superpower" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="Weakness">Weakness</label>
            <input id="Weakness" name="Weakness" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="Domain">Domain</label>
            <input id="Domain" name="Domain" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="Power_origin">Power_origin</label>
            <input id="Power_origin" name="Power_origin" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="Squad">Squad</label>
            <input id="Squad" name="Squad" class="form-control" type="text">
        </div>
        <button type="submit" class="btn btn-success">Go!</button>
    </form>
    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}