{{#partial "content"}}
    <h3>Want to join the fun of being a superhero</h3>
    <a href="/Heroes/form"><button class="btn btn-success">Create your own Hero</button></a>
    <a href="/Squads/form"><button class="btn btn-danger">Create your own Crew</button></a>
{{/partial}}
{{> layout.hbs}}