<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Supers.Inc{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="*">Add a New Hero</a></li>
    <li role="presentation"><a href="/heroes">View Heroes</a></li>
    <li role="presentation"><a href="/squads">View Squads</a></li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Squads Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if categories}}
                {{#each categories}}
                    <li><a href="/squads/{{id}}">{{name}}</a></li>
                {{/each}}
                <li><a href="*">Add a Hero</a></li>
            {{else}}
                <li><a href="*">Add a squad</a></li>
            {{/if}}
        </ul>
    </li>

</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <h1>Welcome to Heroes Inc. <small>Time to get super.</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <hr>
            <p class="text-muted">
                <a href="*">delete all Squads & heroes</a><br>
                <a href="*">delete all heroes</a>
            </p>
        </div>
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}