{{#partial "content"}}
    <h2 class="success">Congratulations</h2>
    <p>You have completed your task</p>
    <a href="/Squads/new">Click here</a> to see your squads
    <br>
    <a href="/Heroes/new">Click here</a> to see your Heroes
{{/partial}}
{{> layout.hbs}}